<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HealthCareModel.Properties.Settings.HealthDBConnectionString"
            connectionString="Data Source=MDU\SQLEXPRESS;Initial Catalog=HealthDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HealthCareModel.Properties.Settings.HealthDBConnectionString1"
            connectionString="Data Source=THERAK\SQLEXPRESS;Initial Catalog=HealthDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>