#mainBody
{
    background-image: url(~/Images/backgroundforallpages.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

#mainNav
{
    background-image: url(~//Images/nav.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

#mainContainer
{
    padding-top: 100px;
    color: black;
    font-weight: bolder;
}

#middleContainer
{
    background: rgba(224, 224, 224, 0.5);
    border: 3px solid black;
}